/*
**  creation by mouafak alali
**  Évaluation HTML  CSS
**  6 novembre 2019
*/

:root{
    --main-color: #f4f4f4;
    --text-main-color :#646464;
}
*{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text-main-color);
    line-height: 1.75;
}
body{
    background-color: var(--main-color);
}

/****************** container *********************/
#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(50px,auto);
    grid-template-areas:
    "M M M"
    "A C C"
    "F F F"
    ;
}

/*********************** menu **************************/
#navbar{
    grid-area: M;
    background-color: #ffffff;
    display: flex;
    height: 56px;
    align-items: center;
    border-bottom: 1px solid rgb(160, 160, 160, .3);
    font-size: 16px;
    font-family: 'Raleway',sans-serif;
    line-height: 1.75;
    position: fixed;
    width: 100%;
}
#logo{
    background-color: #fff;
    font-size: 16px;
    color: #3c3b3b;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    border-right: 1px solid rgb(160, 160, 160 , .3);
    height: 100%;
    display: flex;
    align-items: center;
}
#logo p{
    display: inline-block;
    margin:0 24px ;
    
}
#ul_menu{
    display: flex;
    font-size: 11.2px;
    color : #3c3b3b


}
#ul_menu li a{
    padding: 0 20px;
    border-left: 1px solid rgb(160, 160, 160 , .3);
}
#ul_menu :nth-child(1) a{
    border: none;
}
#ul_menu li a:hover{
    color: #2ebaae;
}
/****************************** content *************/
#content{
    grid-area: C;
    margin:0 48px;
}
.arti_section{
    margin-top: 50px;
}
.arti{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgb(160, 160, 160 , .3);
    font-family: 'Raleway', sans-serif;
    color: #3c3b3b;
    line-height: 1.65;

}
.arti .arti_header{
    padding: 10px 30px;
    border-bottom: 1px solid rgb(160, 160, 160 , .3);
    font-size: 24px;
    letter-spacing: 6px;
}
.arti .arti_image img{
    padding: 20px 20px;
    display: flex;
    overflow: hidden;
}
.arti .arti_para{
    padding: 10px 30px;
}

/*********************** aside **************/
#aside_left{
    grid-area: A;
    display: flex;
    border: 1px solid rgb(160, 160, 160 , .3);
    margin: 48px 0px 0 48px;
    padding: 30px 0 0 30px;
    background-color: #fff;
}
#aside_left p{
    padding: 15px;
    text-align: left;
}
/****************** footer ********************/
#onefooter{
    grid-area: F;
    display: flex;
    justify-content: center;
    font-size: 11px;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
